.container {
    width: 1170px !important;
}

.head {
    color: #ffffff;
    /*border-bottom-left-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
    padding: 1px;
    background-color: #428bca;
}

.test {
    padding: 30px;
    background-color: #eee;
    /*background-color: #F8F8FF;*/
    border-radius: 15px;
}

.footer {
    /*width: 1170px;*/
    color: #ffffff;
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    background-color: #428bca;
}

.success {
    font-size: 12px;
    color: lawngreen;
}

.error {
    font-size: 12px;
    color: red;
}

th.header {
    cursor: pointer;
}

th.header:hover {
    background-color: #eee;
}

.ui-datepicker-header {
    background: #428bca;
}